body {
  margin: 0px;
  font-family: Courier, monospace;
  text-align: center;
}

header {
  font-size: 2em;
  border-bottom: 1px solid #444444;
}

span {
  color:#ff0000;
}


.number {
  font-size: 2.5em;
  color: #ff7777;
}

ul {
  text-align: left;
}

a {
  color: #777777;
  text-decoration: none;
}

a:hover {
  color: #882222;
  text-decoration: underline;
}

footer {
  position: fixed;
  width: 100%;
  background-color: #bbb;
  bottom: 0px;
}
